{% extends "base.html" %}

{% block title %}Tesseract Gateway{% endblock %}

{% block content %}
	<br>
	<h3> All Accounts</h3>
	<br>
	<div class="container-fluid text-center">
		<table id="filestable" class="table">
		  	<thead>
		    	<tr>
		      		<th scope="col">Username</th>
		      		<th scope="col">Is admin?</th>
		      		<th scope="col">Options</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{% if allUsers %}
					{% for user in allUsers %}
						<tr>
				      		<td>{{user.name}}</td>
				      		<td>{{"Yes" if user.admin == 1 else "No"}}</td>
				      		<td>
				      			{% if user.admin == 1 %}
				      				<a href="/admin/accounts/toggle/{{user._id}}" class="btn btn-primary" role="button" aria-pressed="true">Revoke admin</a>
				      			{% elif user.admin == 0 %}
				      				<a href="/admin/accounts/toggle/{{user._id}}" class="btn btn-primary" role="button" aria-pressed="true">Grant admin</a>
				      				<a href="/admin/accounts/delete/{{user._id}}" class="btn btn-primary" role="button" aria-pressed="true">Delete user</a>
									<a href="/admin/accounts/change/{{user._id}}" class="btn btn-primary" role="button" aria-pressed="true">Change password</a>
				      			{% endif %}
								{% if session["user"] == user.name %}
									<a href="/admin/accounts/change/{{user._id}}" class="btn btn-primary" role="button" aria-pressed="true">Change password</a>
								{% endif %}
				      		</td>
				    	</tr>
					{% endfor %}
				{% endif %}
		  	</tbody>
		</table>
	</div>

	<br>
	<h3> Account Creation</h3>
	<br>
	<form action="/admin/accounts" method="post" enctype="multipart/form-data">
		<div class="form-group w-25 container-fluid text-center">
		    <input type="text" class="form-control" name="username" placeholder="username"/>
		    <br>
		    <br>
		    <input type="password" class="form-control" name="password" placeholder="password"/>
	  	</div>
		<div class="form-group">
	   		<input type="submit" class="btn btn-primary" value="submit" />
  		</div>
	</form>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for type, msg in messages %}
				<div class="alert alert-dismissible alert-{{type}} w-25 mx-auto">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>{{msg}}</strong>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

{% endblock %}