<!doctype html>
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css')}}">
	<style>
		.footer {
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  background-color: #303030;
		  color: white;
		  text-align: center;
		}
	</style>

	<title> {% block title %}{% endblock %} </title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">
	  		<img src="/static/images/logo.png" width="35" height="35" alt="Tesseract">
	  	</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
			  	<li class="nav-item active">
			    	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			  	</li>
			  	<li class="nav-item active">
			    	<a class="nav-link" href="/files">Files <span class="sr-only">(current)</span></a>
			  	</li>
			  	<li class="nav-item active">
			    	<a class="nav-link" href="/upload">Upload File <span class="sr-only">(current)</span></a>
			  	</li>
			  
			  	<li class="nav-item active dropdown">
			        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Admin</a>
			        <ul class="dropdown-menu">
			        	<li class="nav-item active">
				        	<a class="nav-link" href="/admin/accounts"> Account management <span class="sr-only">(current)</span></a>
				      	</li>
				      	<!--
			           	<li class="nav-item active">
				        	<a class="nav-link" href="/admin/network"> Tesseract network <span class="sr-only">(current)</span></a>
				      	</li>
				      -->
				      	<li class="nav-item active">
				        	<a class="nav-link" href="/admin/links"> Public links <span class="sr-only">(current)</span></a>
				      	</li>
				      	<li class="nav-item active">
				        	<a class="nav-link" href="/admin/logs"> Logs <span class="sr-only">(current)</span></a>
				      	</li>
			        </ul>
				</li>

			    <li class="nav-item active">
			    	<a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
			    </li>
			</ul>
	  	</div>
	</nav>
	<div class="container-fluid text-center">
	{% block content %}
	{% endblock %}
	</div>
	
	<div class="footer">
		<br>
		<p> Tesseract - <a href="https://github.com/will-scargill/tesseract">Github</a> - <a href="https://hub.docker.com/r/willscargill/tesseract">Docker Hub</a> - v2.0</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
{% block pagescripts %}
{% endblock %}
</html>