{% extends "base.html" %}

{% block title %}Tesseract Gateway{% endblock %}

{% block content %}
	<br>
	<table id="filestable" class="display">
	  	<thead>
	    	<tr>
	      		<th scope="col">Filename</th>
	      		<th scope="col">Filetype</th>
	      		<th scope="col">Flags</th>
	      		<th scope="col">Keywords</th>
	      		<th scope="col">Date Uploaded</th>
	      		<th scope="col">Uploaded By</th>
	      		<th scope="col">Options</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	  		{% if found_files %}
				{% for file in found_files %}
					<tr>
			      		<td>{{file.filename}}</td>
			      		<td>{{file.extension}}</td>
			      		<td>{{file.flags}}</td>
			      		<td>{{file.keywords}}</td>
			      		<td>{{file.datetime}}</td>
			      		<td>{{file.uploader}}</td>
			      		<td>
			      			<a href="/download/{{file._id}}" class="btn btn-primary" role="button" aria-pressed="true">Download</a>
			      			{% if session["user"] in file.sharedUsers %}
			      				<a href="/unshare/{{file._id}}" class="btn btn-primary" role="button" aria-pressed="true">Unshare</a>
			      			{% else %}
			      				<a href="/delete/{{file._id}}" class="btn btn-primary" role="button" aria-pressed="true">Delete</a>
			      			{% endif%}
			      			<a href="/getlink/{{file._id}}" class="btn btn-primary" role="button" aria-pressed="true">Get link</a>
			      		</td>
			    	</tr>
				{% endfor %}
			{% endif %}
	  </tbody>
	</table>	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for type, msg in messages %}
				<div class="alert alert-dismissible alert-{{type}} w-25 mx-auto">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>{{msg}}</strong>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}			
{% endblock %}

{% block pagescripts %}
	<script>
		$(document).ready( function () {
	    	$('#filestable').DataTable();
		});
	</script>
{% endblock %}