{% extends "base.html" %}

{% block title %}Tesseract Gateway{% endblock %}

{% block content %}
	<br>
	<h3> All Logs</h3>
	<br>
	<table id="filestable" class="display">
		<thead>
			<tr>
				<th scope="col">User</th>
				<th scope="col">Datetime</th>
				<th scope="col">IP</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% if allLogs %}
				{% for log in allLogs %}
					<tr>
						<td>{{log.user}}</td>
						<td>{{log.datetime}}</td>
						<td>{{log.ip}}</td>
						<td>{{log.action}}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for type, msg in messages %}
				<div class="alert alert-dismissible alert-{{type}} w-25 mx-auto">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>{{msg}}</strong>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

{% endblock %}

{% block pagescripts %}
	<script>
		$(document).ready( function () {
	    	$('#filestable').DataTable();
		});
	</script>
{% endblock %}